.button {
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 100px;
    @include FlexCenter();

    font-size: 20px;
    font-weight: 500;
    line-height: normal;

    // Variant
    &-contained {
        border: none;

        &-white {
            background-color: #fff;
            color: $primary;
        }

        &-gray {
            background-color: $secondary3;
            color: $primary;
        }

        &-violet {
            background-color: $primary;
            color: #fff;
        }
    }

    &-outlined {
        background-color: none;

        &-white {
            border: 1px solid #fff;
            color: #fff;
        }

        &-gray {
            border: 1px solid $secondary3;
            color: $secondary3;
        }

        &-violet {
            border: 1px solid $primary;
            color: $primary;
        }
    }

    // Margin
    &-large {
        padding-left: 40px;
        padding-right: 40px;
    }

    &-medium {
        padding-left: 24px;
        padding-right: 24px;
    }
}


.spinner {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;

    &-contained {
        &-white {
            border: 2px solid $primary;
            border-top-color: transparent;

        }

        &-violet {
            border: 2px solid #fff;
            border-top-color: transparent;
        }

        &-gray {
            border: 2px solid $primary;
            border-top-color: transparent;
        }
    }

    &-outlined {
        &-white {
            border: 2px solid #fff;
            border-top-color: transparent;
        }

        &-violet {
            border: 2px solid $secondary3;
            border-top-color: transparent;
        }

        &-gray {
            border: 2px solid $primary;
            border-top-color: transparent;
        }
    }
}

  @keyframes spinner {
    from {
    }
    to {
      transform: rotate(360deg);
    }
}