.navbar {
    z-index: 2;
    display: block;
    width: 100vw;
    position: fixed;
    top: 10px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 80px;
        width: 100%;
        max-width: 1420px;
        padding: 0 80px;
        border-radius: 100px;

        margin-left: auto;
        margin-right: auto;

        transition: background-color 1s ease;

        &-boxed {
            background-color: $secondary11;
        }
    }

    &-title {
        font-family: 'Inter', sans-serif;
        font-size: 39.2px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        color: $info;
        cursor: pointer;
    }
}