.pict {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    &-subtitle {
        margin-top: 17px;

        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $secondary3;
    }

    &-row {
        margin-top: 40px;

        display: flex;
        flex-direction: row;
        column-gap: 12px;
    }

    &-img {
        width: 277px;
        height: 600px;
        object-fit: cover;
    }

    &-grid {
        margin-top: 44px;
        width: 100%;
        max-width: 1220px;

        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-row-gap: 20px;

        &-title {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #fff;
            grid-row: 3;
        }

        &-btn {
            grid-row: 4;
        }

        &-img {
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 6;

            pointer-events: none;
        }

    }
}

@media (max-width: 600px) {
    
    .pict {
        margin-top: 48px;

        &-title {
            font-size: 20px;
        }

        &-subtitle {
            font-size: 14px;
        }

        &-img {
            max-width: 175px;
            width: 100%;
            height: auto;
        }

        &-grid {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            &-btn {
                max-width: none;
                width: 100%;
            }
        }
    }   
}